.derecha {
    display: flex;
    flex-direction: row-reverse;
}

.modal-content {
    border-radius: 0% !important;
}

.card-image {
    background-color: #E0E0E0;
    height: 140px;
}

.container {
    margin-bottom: 100px;
}

