<div class="container">
    <div class="text-center m-3">
        <h2>Certificados Digitales</h2>
    </div>
    <div class="mt-4">
        <!-- agregar el container arriba, al costado del mt-4, el text-center estaba para centrar -->
        <app-table></app-table>
    </div>
    
</div>

<!-- Validamos si existe certificados, si existen que aparezca el footer -->
<!-- <app-footer *ngIf="certificados?.length"></app-footer> -->

<!-- Spinner Loading-->
<ng-template #loading>
    <div class="centrar">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
