
.container{
    -webkit-box-shadow: 0px 0px 7px 1px rgba(209,209,209,1);
    -moz-box-shadow: 0px 0px 7px 1px rgba(209,209,209,1);
    box-shadow: 0px 0px 7px 1px rgba(209,209,209,1);
}

.form-control{
    border-radius: 0;
    border-color:var(--blue) ;
    height: 2.2em;
}

select{
    border-radius: 0;
    border-color:var(--blue) ;
    height: 2.2em;
}

.btn-azul{
    margin-left: 2.5em;
    background-color:var(--blue) ;
    padding: 7px 50px;
    border: none;
    color: var(--white);
    font-weight: bold;
}

.btn-blanco{
    margin-left: 2.5em;
    background-color:var(--white) ;
    padding: 7px 50px;
    border: 1px solid var(--blue);
    color: var(--blue);
    font-weight: bold;
}

/* hovers para los botones */
.btn-azul,
.btn-blanco:hover {
    box-shadow: 0px 0px 4px 1px rgba(209,209,209,1);
}

