<div class="new-certificado-container">
    <form [formGroup]="editPostForm" (ngSubmit)="edit(editPostForm.value)">
        <mat-form-field>
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" formControlName="nombres">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Tema</mat-label>
            <input matInput placeholder="Tema" formControlName="tema">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Encargado</mat-label>
            <input matInput placeholder="Encargado" formControlName="encargado">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Rol</mat-label>
            <input matInput placeholder="Rol" formControlName="rol">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Duracion</mat-label>
            <input matInput placeholder="Rol" formControlName="duracion">
        </mat-form-field>
        <div class="container-input-file">
            <label class="custom-file">
                <input formControlName="url" (change)="seleccionarImagen($event)" type="file"/>
                <mat-icon>cloud_upload</mat-icon><span>Subir imagen</span>         
            </label>
        </div>
        <div class="container-button">
            <input type="submit" class="mat-flat-button" value="Guardar" [mat-dialog-close]="false">
        </div>
    </form>
</div>