/* You can add global styles to this file, and also import other style files */

:root {
    --blue: #125899;
    --white: #ffffff;
}

body {
    background-color: #F1F1F1;
}

h4,
h5,
h2 {
    color: #4F4F4F!important;
}

button.btn-azul {
    color: white;
    background: #125899 !important;
    width: 10em !important;
    font-size: 1.1em;
    border-radius: 0%!important;
}

button.btn-azul:hover {
    color: white !important;
    box-shadow: 0px 15px 30px rgba(18, 88, 153, 0.5);
}

button.btn-azul-outline,
a.btn-azul-outline {
    color: #125899 !important;
    background: white !important;
    width: 10em !important;
    font-size: 1.1em;
    border-color: #125899;
    border-radius: 0%!important;
}

button.btn-azul-outline:hover {
    box-shadow: 0px 15px 30px rgba(18, 88, 153, 0.5);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
